# Haskell
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virthualenv

# Xcode
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap
*.xccheckout

#CocoaPods
Pods

HaskellForMac/HaskellSpriteKit/HaskellSpriteKit/spritekit/Graphics/SpriteKit/Color_objc.h

HaskellForMac/HaskellSpriteKit/HaskellSpriteKit/spritekit/Graphics/SpriteKit/Color_objc.m

HaskellForMac/HaskellSpriteKit/HaskellSpriteKit/spritekit/Graphics/SpriteKit/Geometry_objc.h

HaskellForMac/HaskellSpriteKit/HaskellSpriteKit/spritekit/Graphics/SpriteKit/Geometry_objc.m

HaskellForMac/HaskellSpriteKit/HaskellSpriteKit/spritekit/Graphics/SpriteKit/Node_objc.h

HaskellForMac/HaskellSpriteKit/HaskellSpriteKit/spritekit/Graphics/SpriteKit/Node_objc.m

HaskellForMac/HaskellSpriteKit/HaskellSpriteKit/spritekit/Graphics/SpriteKit/Texture_objc.h

HaskellForMac/HaskellSpriteKit/HaskellSpriteKit/spritekit/Graphics/SpriteKit/Texture_objc.m

HaskellForMac/HaskellSpriteKit/HaskellSpriteKit/spritekit/Graphics/SpriteKit/Path_objc.h

HaskellForMac/HaskellSpriteKit/HaskellSpriteKit/spritekit/Graphics/SpriteKit/Path_objc.m

HaskellForMac/GHCKit/GHCInstance_objc.h

HaskellForMac/GHCKit/GHCInstance_objc.m

HaskellForMac/HaskellSpriteKit/HaskellSpriteKit/spritekit/Graphics/SpriteKit/Action_objc.h

HaskellForMac/HaskellSpriteKit/HaskellSpriteKit/spritekit/Graphics/SpriteKit/Action_objc.m

HaskellForMac/HaskellSpriteKit/HaskellSpriteKit/spritekit/Graphics/SpriteKit/Event_objc.h

HaskellForMac/HaskellSpriteKit/HaskellSpriteKit/spritekit/Graphics/SpriteKit/Event_objc.m

HaskellForMac/HaskellSpriteKit/HaskellSpriteKit/spritekit/Graphics/SpriteKit/Scene_objc.h

HaskellForMac/HaskellSpriteKit/HaskellSpriteKit/spritekit/Graphics/SpriteKit/Scene_objc.m
