remote-repo: hackage.haskell.org:http://hackage.haskell.org/packages/archive
remote-repo-cache: /Users/chak/Library/Haskell/repo-cache
library-vanilla: False
library-profiling: False
executable-dynamic: True
documentation: True
shadow-installed-packages: True
--reinstall: True
--force-reinstalls: True
jobs: $ncpus

user-install: False

build-summary: /Users/chak/Library/Haskell/logs/build.log
-- build-log:

install-dirs user
  prefix: /SHOULDNT_BE_USED
  libsubdir: $pkgid
  datasubdir: $compiler-$arch/$pkgid

install-dirs global
  prefix: /SHOULDNT_BE_USED
  libsubdir: $pkgid
  datasubdir: $compiler-$arch/$pkgid
