remote-repo: hackage.haskell.org:http://hackage.haskell.org/packages/archive
remote-repo-cache: /Users/chak/Library/Haskell/repo-cache
library-vanilla: False
library-profiling: False
executable-dynamic: True
shadow-installed-packages: True
reinstall: True
force-reinstalls: True
jobs: $ncpus


user-install: False
-- package-db:
-- flags:
-- extra-include-dirs:
-- extra-lib-dirs:
extra-prog-path: /Users/chak/Library/Haskell/bin
-- tests: False
-- library-coverage: False
-- benchmarks: False
-- cabal-lib-version:
-- constraint:
-- preference:
-- solver: choose
documentation: True
-- doc-index-file: $datadir/doc/index.html
-- max-backjumps: 2000
-- reorder-goals: False
-- strong-flags: False
-- avoid-reinstalls: False
-- upgrade-dependencies: False
root-cmd: sudo
-- symlink-bindir:
build-summary: /Users/chak/Library/Haskell/logs/build.log
-- build-log:
remote-build-reporting: anonymous
-- one-shot: False
-- username:
-- password:

install-dirs user
  prefix: /Users/chak/Library/Haskell
  -- bindir: $prefix/bin
  libdir: $prefix/$compiler-$arch/lib
  libsubdir: $pkgid
  -- libexecdir: $prefix/libexec
  -- datadir: $prefix/share
  datasubdir: $compiler-$arch/$pkgid
  docdir: $prefix/$compiler-$arch/lib/$pkgid/doc
  -- htmldir: $docdir/html
  -- haddockdir: $htmldir
  -- sysconfdir: $prefix/etc

install-dirs global
  prefix: /Library/Haskell
  -- bindir: $prefix/bin
  libdir: $prefix/$compiler-$arch/lib
  libsubdir: $pkgid
  -- libexecdir: $prefix/libexec
  -- datadir: $prefix/share
  datasubdir: $compiler-$arch/$pkgid
  docdir: $prefix/$compiler-$arch/lib/$pkgid/doc
  -- htmldir: $docdir/html
  -- haddockdir: $htmldir
  -- sysconfdir: $prefix/etc

program-locations
  -- alex-location:
  -- ar-location:
  -- c2hs-location:
  -- cpphs-location:
  -- ffihugs-location:
  -- gcc-location:
  -- ghc-location:
  -- ghc-pkg-location:
  -- greencard-location:
  -- haddock-location:
  -- happy-location:
  -- hmake-location:
  -- hpc-location:
  -- hsc2hs-location:
  -- hscolour-location:
  -- hugs-location:
  -- jhc-location:
  -- ld-location:
  -- lhc-location:
  -- lhc-pkg-location:
  -- nhc98-location:
  -- pkg-config-location:
  -- ranlib-location:
  -- strip-location:
  -- tar-location:
  -- uhc-location:

program-default-options
  -- alex-options:
  -- ar-options:
  -- c2hs-options:
  -- cpphs-options:
  -- ffihugs-options:
  -- gcc-options:
  -- ghc-options:
  -- ghc-pkg-options:
  -- greencard-options:
  -- haddock-options:
  -- happy-options:
  -- hmake-options:
  -- hpc-options:
  -- hsc2hs-options:
  -- hscolour-options:
  -- hugs-options:
  -- jhc-options:
  -- ld-options:
  -- lhc-options:
  -- lhc-pkg-options:
  -- nhc98-options:
  -- pkg-config-options:
  -- ranlib-options:
  -- strip-options:
  -- tar-options:
  -- uhc-options:

