repository hackage.haskell.org
  url: http://hackage.haskell.org/
remote-repo-cache: APPLICATION_SUPPORT/Cabal/repo-cache
package-db: APPLICATION_SUPPORT/lib/ghc/package.conf.d

library-vanilla: False
library-profiling: False
executable-dynamic: True
documentation: False
extra-prog-path: HOME_DIR/Library/Haskell/bin
shadow-installed-packages: False
reinstall: False
force-reinstalls: False
jobs: $ncpus

user-install: False

install-dirs global
  prefix: APPLICATION_SUPPORT
  bindir: HOME_DIR/Library/Haskell/bin
  libsubdir: ghc/$pkgkey
  dynlibdir: $libdir/ghc/$pkgkey
  datasubdir: $pkgid
  docdir: $datadir/doc/ghc/html/libraries/$pkgid
  htmldir: $datadir/doc/ghc/html/libraries/$pkgid
  haddockdir: $datadir/doc/ghc/html/libraries/$pkgid

program-locations
  alex-location: /usr/local/lib/HaskellCLI-VERSION/bin/alex
  ghc-location: /usr/local/lib/HaskellCLI-VERSION/bin/ghc-dylib-rpath-wrapper
  ghc-pkg-location: /usr/local/lib/HaskellCLI-VERSION/bin/ghc-pkg
  happy-location: /usr/local/lib/HaskellCLI-VERSION/bin/happy
  hpc-location: /usr/local/lib/HaskellCLI-VERSION/bin/hpc
  hsc2hs-location: /usr/local/lib/HaskellCLI-VERSION/bin/hsc2hs
  cpphs-location: /usr/local/lib/HaskellCLI-VERSION/bin/cpphs
  c2hs-location: /usr/local/lib/HaskellCLI-VERSION/bin/c2hs

program-default-options
--  ghc-options: -optl -rpath -optl "APPLICATION_SUPPORT/lib/ghc"
  ghc-options: -pgml/usr/local/lib/HaskellCLI-VERSION/bin/cc-dylib-rpath-wrapper
