remote-repo-cache: /Users/chak/Library/Haskell/repo-cache
package-db: APPLICATION_SUPPORT/lib/ghc/package.conf.d

library-vanilla: False
library-profiling: False
executable-dynamic: True
documentation: False
shadow-installed-packages: False
reinstall: False
force-reinstalls: False
jobs: $ncpus

user-install: False

install-dirs global
  prefix: APPLICATION_SUPPORT
  libsubdir: $pkgid
  datasubdir: $compiler-$arch/$pkgid
  docdir: $datadir/doc/ghc/html/libraries/$pkgid
  htmldir: $datadir/doc/ghc/html/libraries/$pkgid
  haddockdir: $datadir/doc/ghc/html/libraries/$pkgid

program-locations
  alex-location: /usr/local/bin/alex
  ghc-location: /usr/local/bin/ghc
  ghc-pkg-location: /usr/local/bin/ghc-pkg
  happy-location: /usr/local/bin/happy
  hpc-location: /usr/local/bin/hpc
  hsc2hs-location: /usr/local/bin/hsc2hs

program-default-options
  ghc-options: -optl -rpath -optl "APPLICATION_SUPPORT/lib/ghc"
